.wrapper {
    width: 800px;
    height: 375px;
    margin: 0px auto;
    background-image: url('../assets/images/PokeDex800x400.png');
    padding-top: 25px;
    background-size: auto;
    background-repeat: none;
    text-align: center;
}